edgemesh/tools/nodered-flow.json
[
    {
        "id": "edgemesh-benchmark-flow",
        "type": "tab",
        "label": "EdgeMesh Comparison",
        "disabled": false,
        "info": "Equivalent MQTT → HTTP pipeline for benchmarking against EdgeMesh"
    },
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "edgemesh-benchmark-flow",
        "name": "MQTT Subscribe devices/#",
        "topic": "devices/#",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [["parse-msg"]]
    },
    {
        "id": "parse-msg",
        "type": "function",
        "z": "edgemesh-benchmark-flow",
        "name": "Parse & Store",
        "func": "// Extract device ID from topic\nvar parts = msg.topic.split('/');\nvar deviceId = parts[1] || 'unknown';\n\n// Find first numeric value (flat or nested)\nvar metric = '';\nvar value = 0;\nfor (var key in msg.payload) {\n    if (typeof msg.payload[key] === 'number') {\n        metric = key;\n        value = msg.payload[key];\n        break;\n    }\n    if (typeof msg.payload[key] === 'object') {\n        for (var subkey in msg.payload[key]) {\n            if (typeof msg.payload[key][subkey] === 'number') {\n                metric = subkey;\n                value = msg.payload[key][subkey];\n                break;\n            }\n        }\n        if (metric) break;\n    }\n}\n\n// Store in flow context (latest message cache)\nvar latest = flow.get('latest') || {};\nlatest[deviceId] = {\n    device_id: deviceId,\n    metric: metric,\n    value: value,\n    timestamp: Date.now(),\n    source_proto: 'mqtt'\n};\nflow.set('latest', latest);\n\n// Count messages\nvar count = flow.get('msg_count') || 0;\nflow.set('msg_count', count + 1);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "http-latest",
        "type": "http in",
        "z": "edgemesh-benchmark-flow",
        "name": "GET /api/v1/devices/:deviceId/latest",
        "url": "/api/v1/devices/:deviceId/latest",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 260,
        "wires": [["get-latest"]]
    },
    {
        "id": "get-latest",
        "type": "function",
        "z": "edgemesh-benchmark-flow",
        "name": "Fetch Latest",
        "func": "var deviceId = msg.req.params.deviceId;\nvar latest = flow.get('latest') || {};\nvar data = latest[deviceId];\nif (!data) {\n    msg.statusCode = 404;\n    msg.payload = { error: 'no data for device' };\n} else {\n    msg.payload = data;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 470,
        "y": 260,
        "wires": [["http-resp"]]
    },
    {
        "id": "http-health",
        "type": "http in",
        "z": "edgemesh-benchmark-flow",
        "name": "GET /health",
        "url": "/health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 340,
        "wires": [["health-fn"]]
    },
    {
        "id": "health-fn",
        "type": "function",
        "z": "edgemesh-benchmark-flow",
        "name": "Health Info",
        "func": "var latest = flow.get('latest') || {};\nvar deviceCount = Object.keys(latest).length;\nvar msgCount = flow.get('msg_count') || 0;\nvar mem = process.memoryUsage();\nmsg.payload = {\n    uptime_seconds: Math.floor(process.uptime()),\n    device_count: deviceCount,\n    messages_processed: msgCount,\n    memory: {\n        heap_alloc_mb: Math.round(mem.heapUsed / 1024 / 1024 * 100) / 100,\n        heap_total_mb: Math.round(mem.heapTotal / 1024 / 1024 * 100) / 100,\n        rss_mb: Math.round(mem.rss / 1024 / 1024 * 100) / 100,\n        external_mb: Math.round(mem.external / 1024 / 1024 * 100) / 100\n    },\n    runtime: {\n        node_version: process.version,\n        platform: process.platform\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [["http-resp"]]
    },
    {
        "id": "http-ingest",
        "type": "http in",
        "z": "edgemesh-benchmark-flow",
        "name": "POST /ingest/v1/:deviceId/telemetry",
        "url": "/ingest/v1/:deviceId/telemetry",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 420,
        "wires": [["ingest-fn"]]
    },
    {
        "id": "ingest-fn",
        "type": "function",
        "z": "edgemesh-benchmark-flow",
        "name": "Ingest & Store",
        "func": "var deviceId = msg.req.params.deviceId;\nvar latest = flow.get('latest') || {};\nlatest[deviceId] = {\n    device_id: deviceId,\n    metric: msg.payload.metric || '',\n    value: msg.payload.value || 0,\n    unit: msg.payload.unit || '',\n    timestamp: Date.now(),\n    source_proto: 'http'\n};\nflow.set('latest', latest);\nvar count = flow.get('msg_count') || 0;\nflow.set('msg_count', count + 1);\nmsg.payload = { message_id: Date.now().toString(16), status: 'accepted' };\nmsg.statusCode = 202;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 480,
        "y": 420,
        "wires": [["http-resp"]]
    },
    {
        "id": "http-resp",
        "type": "http response",
        "z": "edgemesh-benchmark-flow",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": { "Content-Type": "application/json" },
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "nodered-benchmark",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    }
]
