tools/nodered-flow.json
[
    {
        "id": "benchmark-tab",
        "type": "tab",
        "label": "EdgeMesh Comparison",
        "disabled": false
    },
    {
        "id": "broker-config",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "nodered-bench",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "closeTopic": "",
        "willTopic": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-in-node",
        "type": "mqtt in",
        "z": "benchmark-tab",
        "name": "MQTT devices/#",
        "topic": "devices/#",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [["parse-store"]]
    },
    {
        "id": "parse-store",
        "type": "function",
        "z": "benchmark-tab",
        "name": "Parse & Store",
        "func": "var parts = msg.topic.split('/');\nvar deviceId = parts[1] || 'unknown';\nvar metric = '';\nvar value = 0;\nfor (var key in msg.payload) {\n    if (typeof msg.payload[key] === 'number') {\n        metric = key;\n        value = msg.payload[key];\n        break;\n    }\n    if (typeof msg.payload[key] === 'object') {\n        for (var subkey in msg.payload[key]) {\n            if (typeof msg.payload[key][subkey] === 'number') {\n                metric = subkey;\n                value = msg.payload[key][subkey];\n                break;\n            }\n        }\n        if (metric) break;\n    }\n}\nvar latest = flow.get('latest') || {};\nlatest[deviceId] = {\n    device_id: deviceId,\n    metric: metric,\n    value: value,\n    timestamp: Date.now(),\n    source_proto: 'mqtt'\n};\nflow.set('latest', latest);\nvar count = flow.get('msg_count') || 0;\nflow.set('msg_count', count + 1);\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "http-latest-in",
        "type": "http in",
        "z": "benchmark-tab",
        "name": "GET /api/v1/devices/:deviceId/latest",
        "url": "/api/v1/devices/:deviceId/latest",
        "method": "get",
        "upload": false,
        "x": 210,
        "y": 260,
        "wires": [["get-latest-fn"]]
    },
    {
        "id": "get-latest-fn",
        "type": "function",
        "z": "benchmark-tab",
        "name": "Fetch Latest",
        "func": "var deviceId = msg.req.params.deviceId;\nvar latest = flow.get('latest') || {};\nvar data = latest[deviceId];\nif (!data) {\n    msg.statusCode = 404;\n    msg.payload = { error: 'no data for device' };\n} else {\n    msg.payload = data;\n}\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 260,
        "wires": [["http-out"]]
    },
    {
        "id": "http-health-in",
        "type": "http in",
        "z": "benchmark-tab",
        "name": "GET /health",
        "url": "/health",
        "method": "get",
        "upload": false,
        "x": 140,
        "y": 340,
        "wires": [["health-fn"]]
    },
    {
        "id": "health-fn",
        "type": "function",
        "z": "benchmark-tab",
        "name": "Health Info",
        "func": "var latest = flow.get('latest') || {};\nvar deviceCount = Object.keys(latest).length;\nvar msgCount = flow.get('msg_count') || 0;\nvar startTime = flow.get('start_time') || Date.now();\nvar uptimeSec = Math.floor((Date.now() - startTime) / 1000);\nmsg.payload = {\n    uptime_seconds: uptimeSec,\n    device_count: deviceCount,\n    messages_processed: msgCount,\n    runtime: 'Node-RED'\n};\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 340,
        "wires": [["http-out"]]
    },
    {
        "id": "inject-start",
        "type": "inject",
        "z": "benchmark-tab",
        "name": "Record start time",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 500,
        "wires": [["set-start"]]
    },
    {
        "id": "set-start",
        "type": "function",
        "z": "benchmark-tab",
        "name": "Set start_time",
        "func": "flow.set('start_time', Date.now());\nflow.set('msg_count', 0);\nflow.set('latest', {});\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 500,
        "wires": [[]]
    },
    {
        "id": "http-ingest-in",
        "type": "http in",
        "z": "benchmark-tab",
        "name": "POST /ingest/v1/:deviceId/telemetry",
        "url": "/ingest/v1/:deviceId/telemetry",
        "method": "post",
        "upload": false,
        "x": 210,
        "y": 420,
        "wires": [["ingest-fn"]]
    },
    {
        "id": "ingest-fn",
        "type": "function",
        "z": "benchmark-tab",
        "name": "Ingest & Store",
        "func": "var deviceId = msg.req.params.deviceId;\nvar latest = flow.get('latest') || {};\nlatest[deviceId] = {\n    device_id: deviceId,\n    metric: msg.payload.metric || '',\n    value: msg.payload.value || 0,\n    unit: msg.payload.unit || '',\n    timestamp: Date.now(),\n    source_proto: 'http'\n};\nflow.set('latest', latest);\nvar count = flow.get('msg_count') || 0;\nflow.set('msg_count', count + 1);\nmsg.payload = { message_id: Date.now().toString(16), status: 'accepted' };\nmsg.statusCode = 202;\nreturn msg;",
        "outputs": 1,
        "x": 480,
        "y": 420,
        "wires": [["http-out"]]
    },
    {
        "id": "http-out",
        "type": "http response",
        "z": "benchmark-tab",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 340,
        "wires": []
    }
]
